// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @import "variables";

 #admin-panel {
   height: 50vh;
   max-width: 100%;
   background-color: $subheading-color;
   text-align: center;
   position: relative;

     h1, p {
       position: absolute;
       left: 0;
       right: 0;
       margin: 0 auto;
     }

     h1 {
       font-style: normal;
       font-weight: 800;
       font-size: 4.5em;
       color: $admin-page-text-color;
       letter-spacing: .02em;
       text-transform: uppercase;
       bottom: 15vh;
     }

     p {
       position: absolute;
       color: $admin-page-text-color;
       bottom: 7vh;
       font-size: 1.3em;
     }

     a {
       color: $admin-page-text-color;
     }

     .admin-logo {
       font-size: 6em;
       color: $admin-page-text-color;
       margin-top: 10vh;
     }
 }

 #admin-orders-panel, #admin-sales-panel {
   background-color: $admin-page-text-color;
   width: 40vw;
   height: 10vw;
   border: $black-div-border;
   position: relative;
   top: -5vh;
   display: inline-block;

   .glyphicon-check, .glyphicon-piggy-bank {
     font-size: 5em;
     color: #000;
     margin: 5%;
   }
 }

 #admin-orders-panel {
  left: 10vh;
  margin-right: 10vw;
 }


//---------------------

.admin-orders-board {
  height: 50vh;
  max-width: 100%;
  background-color: $subheading-color;
  text-align: center;
  position: relative;

  h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 3em;
    color: $admin-page-text-color;
    letter-spacing: .02em;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
  }

  .admin-orders-list {
    position: absolute;
    background-color: #fff;
    width: 90%;
    height: 80%;
    border: $black-div-border;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 12vh;

    table {
      left: 0;
      right: 0;
      margin: 0 auto;
      color: #000;
      font-size: 1.3em;
      text-align: left;

      th {
        text-align: center;
      }

      td {
        padding: 0 2.5vw 0 2.5vw;
        border-top: 1px solid #000;
        border-bottom: 1px solid black;
      }
    }
  }
}

//---- BUTTON

.red-button {
  padding: 1%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: $header-color;
  border: 5px solid black;
  box-shadow: 0 9px black;
  text-transform: uppercase;
  font-weight: bolder;
  position: absolute;
  bottom: 10vh;
  right: 38vw;
}

.red-button:hover {
  box-shadow: 0 5px black;
  transform: translateY(4px);
  color: #fff;
  text-decoration: none;
}
