@import 'variables';

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

//-------- GENERAL --------//

body {
  margin: 0 auto;
  padding: 0;
}

#yeild-wrapper {
  margin: 7vh 2.5vw 5vh 2.5vh;
}

.product-button {
  padding: 1vh 3vw;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: 5px solid black;
  box-shadow: 0 9px black;
  text-transform: uppercase;
  font-weight: bolder;
  position: absolute;
  bottom: 4vh;
  left: 11vw;
}

.product-button:hover {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

//-------- header --------//
header {
  background-color: $header-color;
  position: fixed;
  top: 0px;
  width: 100%;
  max-height: 7vh;
  z-index: 1;


  .nav-cart-icon {
    color: $header-text-color;
    font-size: 2em;
  }

  .nav-badge {
        background-color: $header-text-color;
        border-radius: 10px;
        color: $header-color;
        display: inline-block;
        font-size: 1em;
        font-weight: 600;
        line-height: 1;
        padding: 3px 7px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
  }
}

nav {
  padding: 20px 0 40px 0;
  font-size: 16px;
  text-align: center;
  ul {

    li {
      display: inline-block;
      padding-left: 5%;
      a {
        color: $header-text-color;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
      }
      a:hover {
        text-decoration: none;
        color: $header-text-color;
      }
    }
  }
}


//--------- FOOTER ---------//

footer {
  background-color: $footer-color;
  position:fixed;
  bottom:0px;
  max-height: 5vh;
  width:100%;

  nav {
    ul {
      text-align: center;
      line-height: .5vh;
      li {
        color: white;
        font-size: 1em;
      }
      li:hover, li:active {
        color: $footer-text-hover;
      }
    }
  }
}
