// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';



//-- HOMEPAGE HERO --
#homepage-hero {
  height: 34vw;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: $subheading-color;

  h2 {
    text-transform: uppercase;
    color: $header-text-color;
    font-weight: 600;
    position: absolute;
    font-size: 4em;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50%;
  }

  #hero-gif {
    height: 20vh;
    width: auto;
  }
}

#hero-products {
  position: relative;
  width: 100vw;
  padding-bottom: 10vh;

  li {
    display: inline-block;
    position: absolute;
    bottom: 0;
  }

  h4 {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  a:hover h4 {
    border-bottom: 5px solid #000;
    padding-top: 3vh;
  }

  img {
    max-height: 20vh;
  }

  #hero-image-one {
    left: 1vw;
  }

  #hero-image-two {
    left: 13vw;
  }

  #hero-image-three {
    left: 33.33vw;
  }

  #hero-image-four {
    right: 40vw;
  }

  #hero-image-five {
    right: 25vw;
  }

  #hero-image-six {
    right: 7vw;
  }
}

#homepage-hero-two {
  height: 44vw;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: $subheading-color;
  margin-top: 20vh;

  .hero-two-image {
    min-width: 100%;
    max-height: 30vh;
    position: absolute;
    left: 0;
    top: 0;
  }

  h2 {
    color: $header-text-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3em;
    margin-top: 5vh;
    bottom: -40vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
  }

  p {
    color: $header-text-color;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    letter-spacing: 1px;
    font-size: 1.2em;
    position: absolute;
    bottom: -50vh;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  button {
    padding: 1vh 1.5vw;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border: 5px solid black;
    box-shadow: 0 9px black;
    text-transform: uppercase;
    font-weight: bolder;
    position: absolute;
    bottom: -70vh;
    left: 12.5vw;
  }

  button:hover {
    box-shadow: 0 5px black;
    transform: translateY(4px);
  }
}

#homepage-hero-three {
  height: 34vw;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: $subheading-color;
  margin-top: 2.5vh;
  margin-bottom: 7.5vh;

  h2 {
    color: $header-text-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3em;
    margin-top: 5vh;
  }

  p {
    color: $header-text-color;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    letter-spacing: 1px;
    font-size: 1.2em;
  }

  button {
    padding: 1vh 1.5vw;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border: 5px solid black;
    box-shadow: 0 9px black;
    text-transform: uppercase;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }

  button:hover {
    box-shadow: 0 5px black;
    transform: translateY(4px);
  }
}

.white-button {
  padding: 1vh 3vw;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: 5px solid black;
  box-shadow: 0 9px black;
  text-transform: uppercase;
  font-weight: bolder;
  position: absolute;
  left: 35%;
  right: 35%;
  bottom: 10%;
  margin: 0 auto;
}

.white-button:hover {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
