$main-color: #6394F8;
$light-text: #ABB0BE;
$header-color: #D6001C;
$header-text-color: #FFFFFF;
$subheading-color: #E40421;

$admin-page-text-color: #FFFFFF;
$admin-panel-color: #FFFFFF;
$black-div-border: 4px solid #000;

$footer-color: #000000;
$footer-text-hover: #E40421;
