<% if notice %>
  <p id="notice"><%= notice %></p>
<% end  %>

<div id="homepage-hero" class="container">
  <img src="http://i34.photobucket.com/albums/d127/otaku_tatu/adventuretimelogo.png" id="hero-gif" />
  <h2 id="homepage-hero-title">great stickers live here</h2>
</div>

<div id="hero-products">
  <ul>
    <li id="hero-image-one">
      <a href="#">
        <img src="http://vignette4.wikia.nocookie.net/adventuretimewithfinnandjake/images/f/f3/Original_Finn.png/revision/latest?cb=20120921151658">

        <h4>finn</h4>
      </a>
    </li>
    <li id="hero-image-two">
      <a href="#">
        <img src="http://vignette2.wikia.nocookie.net/adventuretimewithfinnandjake/images/5/5d/Groucho_Jake.png/revision/latest?cb=20120825090335">

        <h4>jake</h4>
      </a>
    </li>
    <li id="hero-image-three">
      <a href="#">
        <img src="http://vignette4.wikia.nocookie.net/adventuretimewithfinnandjake/images/1/10/Gunter_with_Kitten_taped_to_his_back.png/revision/latest?cb=20121010093743">

        <h4>gunter</h4>
      </a>
    </li>
    <li id="hero-image-four">
      <a href="#">
        <img src="http://vignette3.wikia.nocookie.net/adventuretimewithfinnandjake/images/2/28/IceKingSpecialEyes.png/revision/latest?cb=20120824084700">

        <h4>ice king</h4>
      </a>
    </li>
    <li id="hero-image-five">
      <a href="#">
        <img src="http://vignette1.wikia.nocookie.net/adventuretimewithfinnandjake/images/8/8c/LSPHeartAttack!.png/revision/latest?cb=20120818092919">

        <h4>lsp</h4>
      </a>
    </li>
    <li id="hero-image-six">
      <a href="#">
        <img src="https://qyuqyustories.files.wordpress.com/2013/09/earl.png">

        <h4>lemongrab</h4>
      </a>
    </li>
  </ul>
</div>

<button class="white-button">See the stickers</button>

<div id="homepage-hero-two" class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>lorem ipsum</h2>
      <img src="https://i.ytimg.com/vi/YoRIwXKsFBc/maxresdefault.jpg" class="hero-two-image"/>

      <p>These products are tougher than woodpecker lips and are guaranteed to make anyone go off like a cut snake</p>

      <button>read on</button>
    </div>

    <div class="col-md-4" id="homepage-hero-two-center">
      <h2>lorem ipsum</h2>
      <img src="http://trunkweed.com/uploads/posts/images/414703-bmo-face-adventure-time-wallpaper.png" class="hero-two-image" />

      <p>These products are tougher than woodpecker lips and are guaranteed to make anyone go off like a cut snake</p>

      <button>read on</button>
    </div>

    <div class="col-md-4">
      <h2>lorem ipsum</h2>
      <img src="http://trunkweed.com/uploads/posts/images/414703-bmo-face-adventure-time-wallpaper.png" class="hero-two-image" />

      <p>These products are tougher than woodpecker lips and are guaranteed to make anyone go off like a cut snake</p>

      <button>read on</button>
    </div>

  </div>
</div>

<!--
<div id="homepage-hero-three" class="container">
  <div class="row">
    <div class="col-md-8 hero-three-image">

    </div>

    <div class="col-md-4">
      <h2>lorem ipsum</h2>

      <p>These products are tougher than woodpecker lips and are guaranteed to make anyone go off like a cut snake</p>

      <button>read on</button>
    </div>
  </div>

-->

</div>
