<% if notice %>
  <p id="notice"><%= notice %></p>
<% end  %>

<div id="homepage-hero" class="container">
  <h2>great products live here</h2>


</div>

<button class="white-button">See the beers</button>

<div id="homepage-hero-two" class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>lorem ipsum</h2>

      <p>These products are tougher than woodpecker lips and are guaranteed to make anyone go off like a cut snake</p>

      <button>read on</button>
    </div>

    <div class="col-md-4" id="homepage-hero-two-center">
      <h2>lorem ipsum</h2>

      <p>These products are tougher than woodpecker lips and are guaranteed to make anyone go off like a cut snake</p>

      <button>read on</button>
    </div>

    <div class="col-md-4">
      <h2>lorem ipsum</h2>

      <p>These products are tougher than woodpecker lips and are guaranteed to make anyone go off like a cut snake</p>

      <button>read on</button>
    </div>

  </div>
</div>

<div id="homepage-hero-three" class="container">
  <div class="row">
    <div class="col-md-8">

    </div>

    <div class="col-md-4">
      <h2>lorem ipsum</h2>

      <p>These products are tougher than woodpecker lips and are guaranteed to make anyone go off like a cut snake</p>

      <button>read on</button>
    </div>
  </div>

</div>
