<footer class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <nav class="footer-nav">
        <ul>
          <li>Contact</li>
          <li>Jobs</li>
          <li>Terms &amp; Privacy</li>
          <li>FAQ</li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
