<footer class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <nav class="footer-nav">
        <ul>
          <li>Contact</li>
          <li>Jobs</li>
          <li>Terms &amp; Privacy</li>
          <li>FAQ</li>
        </ul>
      </nav>
    </div>

    <div class="col-md-6 col-xs-12">
      <nav>
        <ul>
          <li class="social-media-circle">F</li>
          <li class="social-media-circle">T</li>
          <li class="social-media-circle">I</li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
